

*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    /* height: 100vh; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}
.skills {
    padding-top: 1rem;
    /* height: 50vh;  */
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 2;
}

.tag-list li {
    height: max-content;
    font-size: 1rem; /* Increase font size for better visibility */
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 4rem;
    /* border: solid rgb(246, 245, 245); */
    /* background-color: rgb(248, 249, 249); */
    opacity: 0.25;
    font-weight: 500;
    list-style: none; /* Remove default list styles */
}

.scroller {
    max-width: 100vw; /* Set the max-width to cover the entire viewport width */
    overflow: hidden; /* Hide overflowing content */
}

.scroll-inner {
    padding-block: 0.5rem;
    display: flex;
    gap: 0.5rem;
    animation: scroll var(--_animation-duration, 160s) linear infinite;
}

@keyframes scroll {
    0% {
        transform: translateX(100%); /* Start from bottom */
    }
    100% {
        transform: translateX(-100%); /* Scroll to top */
    }
} 
