*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
    /* height: 100vh; */
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

section{
    /* height: 30rem; */
}
#content {
    position: relative;
    /* top: 50%; */
    /* left: 50%; */
    /* transform: translate(-50%, -50%); */
    /* transition: transform 0.5s ease; */
}
